.vs/CloundMusic2.0/v15/.suo
.vs/CloundMusic2.0/v15/Server/sqlite3/db.lock
.vs/CloundMusic2.0/v15/Server/sqlite3/storage.ide
.vs/CloundMusic2.0/v15/Server/sqlite3/storage.ide-shm
.vs/CloundMusic2.0/v15/Server/sqlite3/storage.ide-wal
UnitTestApi/Api_UnitTest.cs
UnitTestApi/bin/Debug/GalaSoft.MvvmLight.dll
UnitTestApi/bin/Debug/GalaSoft.MvvmLight.Extras.dll
UnitTestApi/bin/Debug/Invengo.Library.IConfiguration.dll
UnitTestApi/bin/Debug/Invengo.Library.IConfiguration.pdb
UnitTestApi/bin/Debug/Invengo.Library.ILog.dll
UnitTestApi/bin/Debug/Invengo.Library.ILog.pdb
UnitTestApi/bin/Debug/Invengo.Library.XmlConfigration.dll
UnitTestApi/bin/Debug/Invengo.Library.XmlConfigration.pdb
UnitTestApi/bin/Debug/li.dll
UnitTestApi/bin/Debug/li.pdb
UnitTestApi/bin/Debug/Microsoft.Practices.ServiceLocation.dll
UnitTestApi/bin/Debug/Newtonsoft.Json.dll
UnitTestApi/obj/Debug/li.dll
UnitTestApi/obj/Debug/li.pdb
